* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 60px;
}

/* Create four equal columns that sits next to each other */
.column {
  text-align: center;
  flex: 25%;
  max-width: 25%;
  padding: 0px 15px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.imgcaption{
  margin-bottom: 25px;
  background-color: #eeeeee;
  color: #037AFB;
  font-size: 20px;
}

.captionHeader{
  text-align:left;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
}

.captionBody{
  padding-bottom: 10px;
  text-align:left;
  margin-left: 10px;
  margin-right: 10px;
  font-size:20px;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Logo animation css */
.path {
  stroke-dasharray:942.9910888671875 ;
  stroke-dashoffset:942.9910888671875;
  animation: dash 15s linear forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}