* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 60px;
}

.column {
  margin-left:100px;
  margin-right:20px;
  text-align: center;
  flex: 60%;
  max-width: 60%;
  padding: 0px 15px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.column2 {
  flex-wrap:wrap;
  min-height: 100%;
  text-align: center;
  flex: 12%;
  max-width: 12%;
  padding: 0px 5px;
}
.column2 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.column3{
  flex-wrap:wrap;
  min-height: 100%;
  text-align: center;
  flex: 24%;
  max-width: 24%;
  padding: 0px 5px;
}

.column2 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.imgcaption{
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color:#f5f2f2;
  color: #037AFB;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

.mainText{
    text-align:left;
    margin-bottom: 10px;
    color: #037AFB;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 850px) {
  .column {
    margin-right:0px;
    margin-left:0px;
    flex: 100%;
    max-width: 100%;
  }
  .column2{
    display:none;
  }

  .column3{
    display:none;
  }
}


/* Logo animation css */
.path {
  stroke-dasharray:942.9910888671875 ;
  stroke-dashoffset:942.9910888671875;
  animation: dash 15s linear forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}